.category-item {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  align-items: center;
  text-align: center;

  &[href] {
    color: var(--text-2);
    transition: transform 0.2s ease;

    &:hover,
    &:focus {
      text-decoration: none;
      transform: scale(1.03);
    }
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.category-slider {
  :nth-child(1n) img {
    border-radius: var(--radius-blob-1);
  }
  :nth-child(2n) img {
    border-radius: var(--radius-blob-2);
  }
  :nth-child(3n) img {
    border-radius: var(--radius-blob-3);
  }
  :nth-child(4n) img {
    border-radius: var(--radius-blob-4);
  }
  :nth-child(5n) img {
    border-radius: var(--radius-blob-5);
  }
}
