.filter {
  &-btn,
  &-select {
    display: flex;
    gap: var(--size-2);
    align-items: center;
    background: var(--surface-1);
    border-radius: 0;
    border: var(--border-size-1) solid var(--gray-9);
    color: var(--text-2);

    &:hover,
    &:focus {
      background-color: var(--gray-3);
    }
  }

  &-select {
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
  }

  &Section {
    display: flex;
    justify-content: space-between;
    align-content: center;

    p {
      vertical-align: sub;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: var(--size-3);
      align-items: flex-end;
    }
  }
}
