@forward "./addedToCart";
@forward "./blogPosts";
@forward "./breadcrumb";
@forward "./categoryItem";
@forward "./details";
@forward "./filter";
@forward "./footer";
@forward "./navbar";
@forward "./navBtn";
@forward "./product";
@forward "./section";
@forward "./splide";
@forward "./tag";
@forward "./testimonial";
