.navbar {
  align-items: center;
  background-color: var(--text-1);
  box-shadow: var(--shadow-2);
  display: flex;
  gap: var(--size-10);
  justify-content: flex-start;
  left: 0;
  padding-inline: var(--size-7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  @media (max-width: 1210px) {
    gap: var(--size-5);
    justify-content: space-between;
    padding-block: var(--size-2);
  }
}

.logo {
  height: var(--size-7);

  img {
    height: 100%;
  }
}

.nav-links {
  align-items: center;
  display: flex;
  gap: var(--size-4);

  a {
    font-family: var(--font-serif);
    font-size: var(--font-size-2);
    height: fit-content;
    transition: font-weight 0.2s linear;
    white-space: nowrap;

    &.router-link-exact-active,
    &:hover,
    &:focus {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.user-links {
  display: flex;
  gap: var(--size-3);
  margin-left: auto;

  @media (max-width: 1210px) {
    gap: var(--size-5);
    margin-left: 0;
  }
}

.sub-menu {
  padding-block: var(--size-3);

  &:hover .sub-menu-content,
  a:hover ~ .sub-menu-content {
    display: flex;
  }

  &-content {
    background-color: var(--secondary);
    box-shadow: var(--shadow-2);
    display: none;
    font-family: var(--font-sans);
    justify-content: flex-start;
    left: 0%;
    padding-left: var(--size-7);
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 4;

    &:hover,
    &:focus {
      display: flex;
    }
  }
}

.sub-sub-menu {
  padding-block: var(--size-3);
  padding-right: var(--size-3);

  &:hover .sub-sub-menu-content,
  &:focus .sub-sub-menu-content,
  a:hover ~ .sub-sub-menu-content,
  a:focus ~ .sub-sub-menu-content {
    display: grid;
    max-height: 600px;
    transition: max-height 0.25s ease-in;
  }

  &:hover > a,
  &:focus > a {
    font-weight: 700;
    text-decoration: none;
  }

  &-content {
    background-color: var(--surface-1);
    box-shadow: var(--shadow-2);
    display: none;
    flex-direction: column;
    font-family: var(--font-sans);
    gap: var(--size-3);
    gap: var(--size-5);
    grid-template-columns: 20% 50% 20%;
    justify-content: center;
    justify-items: stretch;
    left: 0%;
    max-height: 0;
    overflow: hidden;
    padding-block: var(--size-3);
    padding-left: var(--size-7);
    position: absolute;
    top: 100%;
    transition: max-height 0.25s ease-in;
    width: 100%;
    z-index: 4;

    &:hover,
    &:focus {
      display: flex;
    }

    &-filter,
    &-categories {
      display: flex;
      flex-direction: column;
      gap: var(--size-5);
    }

    &-filter {
      border-right: var(--border-size-1) solid var(--gray-5);
    }

    .blog-post {
      white-space: normal !important;
    }
  }
}

.navBtn {
  all: unset;
  cursor: pointer;
  display: block;
  pointer-events: all;
}

#navbar_checkbox:checked ~ .mobile-nav-links {
  left: 0;
}

.mobile-nav-links {
  background-color: var(--surface-1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: -100%;
  overflow: auto;
  position: absolute;
  top: 0;
  transition: left 0.5s linear;
  width: 100vw;
  z-index: 10;

  &-link {
    align-items: center;
    border-bottom: var(--gray-5) var(--border-size-1) solid;
    display: grid;
    font-weight: var(--font-weight-7);
    grid-template-columns: auto 10%;
    min-height: 4rem;

    a {
      padding: var(--size-fluid-2) var(--size-fluid-3);
      align-items: center;
      display: grid;
      gap: var(--size-fluid-4);
      grid-template-columns: 10% 90%;
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
    }
  }

  &-icon {
    all: unset;
    cursor: pointer;
    grid-column: 2;
    box-sizing: border-box;
    padding: var(--size-4);
    border-left: var(--border-size-1) solid var(--gray-5);
    place-content: center;
    width: 100%;
    height: 100%;

    @media (max-width: 600px) {
      padding: var(--size-2);
    }
  }

  &-img {
    aspect-ratio: 1;
    border-radius: var(--radius-blob-2);
    box-shadow: var(--shadow-2);
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: var(--size-2) var(--size-3);
  }

  &-back {
    align-items: center;
    all: unset;
    cursor: pointer;
    display: flex;
    gap: var(--size-3);
    width: fit-content;

    &:hover,
    &:focus {
      align-items: center;
      all: unset;
      cursor: pointer;
      display: flex;
      gap: var(--size-3);
    }

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 2rem;
    }
  }

  .navBtn {
    justify-self: flex-end;
    right: var(--size-5);
    top: var(--size-5);
  }

  .searchfield {
    margin: var(--size-fluid-2) var(--size-fluid-3);
    position: relative;
  }
}
