section {
  gap: var(--size-8);
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.se-mere {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: var(--size-3);

  &[href] {
    color: var(--text-2);
  }

  &:hover,
  &:focus {
    font-weight: 700;
    text-decoration: none;
  }
}
