.splide {
  &__slide {
    max-inline-size: none !important;
    padding-block: var(--size-7);
  }

  &__track {
    max-width: 100%;
  }

  &__arrow {
    background: var(--surface-3) !important;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: var(--contrast) !important;
    }
  }

  li {
    padding-inline-start: 0;
  }
}
