.testimonial {
  display: grid;
  gap: var(--size-6);
  grid-template-columns: 20% auto;
  max-width: 40ch;
  margin: auto;

  &-img {
    position: relative;

    img {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: var(--size-10);
      height: var(--size-10);
      border-radius: var(--radius-blob-2);
    }
    .verified {
      position: absolute;
      height: 1rem;
      width: 1rem;
      top: var(--size-8);
      right: 0;
      padding: var(--size-3);
      border-radius: var(--radius-blob-5);
      background-color: var(--contrast);

      &::before {
        content: url("/icons/checkmark.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    max-width: 100%;
  }

  .star {
    height: var(--size-4);
  }
}
