html {
  --brand: hsl(88, 12%, 58%);
  --contrast: hsl(231, 89%, 72%);
  --secondary: hsl(37, 52%, 90%);

  --system-green: var(--lime-3);
  --system-yellow: var(--yellow-3);
  --system-red: var(--red-4);

  --link: var(--gray-9);
  --link-visited: hsl(88, 32%, 48%);

  --text-1: var(--gray-1);
  --text-2: var(--gray-9);

  --surface-1: hsl(210, 17%, 98%);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  --shadow-color: 0 0% 5%;

  --font-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --font-serif: "Playfair Display", ui-serif, serif;
}

body {
  color: var(--text-2);
  background-color: var(--surface-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  color: var(--text-2);
}

a[href] {
  color: var(--link);
}

:focus-visible {
  outline-color: var(--link);
}
