.landing,
.oversigt {
  gap: var(--size-10);
  display: flex;
  flex-direction: column;
}

.hero-blob {
  background-image: url("/icons/heroBlob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (max-width: 550px) {
    background-image: url("/icons/heroBlob-small.svg");
  }
}

.hero {
  &-banner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  h1 {
    text-align: end;
    grid-column: 4 / 8;
    grid-row: 1;
    align-self: center;
    justify-self: flex-start;
    font-size: var(--font-size-8);
    color: var(--text-2);
    @media screen and (max-width: 850px) {
      font-size: var(--font-size-6);
    }
    @media screen and (max-width: 550px) {
      font-size: var(--font-size-5);
      grid-column: 1 / 8;
      justify-self: flex-end;
    }
  }

  &-img- {
    &1 {
      background-color: black;
      grid-column: 1 / 5;
      grid-row: 1 / 3;
      width: 100%;
      z-index: -1;
    }

    &2 {
      grid-column: 4 / 8;
      grid-row: 2 / 4;
      width: 100%;
    }
  }

  &-btn {
    align-items: center;
    color: var(--text-1) !important;
    cursor: pointer;
    grid-column: 1 / 4;
    grid-row: 3;
    height: fit-content;
    justify-self: flex-end;
    left: var(--size-7);
    padding-block: var(--size-3);
    padding-inline: var(--size-5);
    position: relative;
    top: var(--size-9);
    width: fit-content;

    @media screen and (max-width: 750px) {
      padding-block: var(--size-2);
      padding-inline: var(--size-3);
    }
    @media screen and (max-width: 500px) {
      top: var(--size-3);
    }
  }

  &-info {
    align-items: center;
    display: flex;
    gap: var(--size-5);
    justify-content: space-around;

    div {
      flex: 1 1 50%;
      max-width: 50%;
    }
    @media screen and (max-width: 800px) {
      justify-content: space-between;
      :nth-child(3) {
        display: none;
      }
    }
    @media screen and (max-width: 425px) {
      flex-direction: column;
      :nth-child(3) {
        display: flex;
      }
    }
  }
}

.om-tinc {
  align-items: flex-start;
  columns: 3;
  display: flex;
  flex-direction: row;
  gap: var(--size-7);

  article {
    display: flex;
    flex-direction: column;
    flex: 1 0 1px;
    gap: var(--size-3);
  }
  @media screen and (max-width: 950px) {
    columns: 1;
    flex-direction: column;
  }
}
